// ==================================
// company-overview
// ==================================
.p-company-overview {
  width: $site-width-p_pc;
  margin: 0 auto;
  padding-top: 40px;
  @include sp() {
    width: $site-width-p_sp;
  }
  &__term {
    font-weight: bold;
    font-size: $font-size_l;
  }

  &__description {
    margin-bottom: 10px;
  }
}
