// ==================================
// pharmacy
// ==================================
.p-pharmacy {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  min-height: 700px;
  display: block;

  &__title {
    text-align: center;
    font-size: $font-size_xxl;
    color: $font-color_default;
    padding-top: 180px;
    padding-bottom: 60px;
  }

  &__paragraph {
    font-size: $font-size_l;
    width: $site-width-p_pc;
    margin: 0 auto;
    padding-bottom: 120px;
    @include sp() {
      font-size: $font-size_m;
      width: $site-width-p_sp;
    }
  }

  &__bold {
    font-weight: bold;
  }
}
