// ==================================
// privacy
// ==================================
.p-privacy {
  width: $site-width-p_pc;
  overflow-y: scroll;
  margin: 0 auto;
  background: $background-color_default;
  padding: $space_l $space_xl;
}
