// ==================================
// footer
// ==================================
.l-footer {
  background: $background-color_accent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  @include mq() {
    font-size: $font-size_s;
  }
}
